#heroSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: rgb(0, 0, 0);
}

.containerInputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 2.5%;

}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #301c41;
    color: #ffffff;
    font-size: larger;
    width: 60px;
    height: 40px;
}

.btn:hover{
    background-color: #5c65c0;
}

.propContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.propContainer button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: larger;
    width: 30%;
    max-width: 110px;
    height: 5%;
    background-color: #5c65c0;
}

.btnProposition2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: larger;
    width: 30%;
    max-width: 110px;
    height: 5%;
    background-color: #413b6b;
}

.propContainer button:hover{
    background-color: #7e85da;
}

.proposition{
    width: 40%;
    height: 50px;
    padding: 14px 12px;
    font-size: 19px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    outline: none;
    transition: 0.3s ease;
    background-color: #6f95ff;
    border-radius: 15px;
    display: flex;
    text-align: center;
}