* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Css Referente al navbar */

#navBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.5% 0px;
    align-items: center;
    background-color: #413b6b
}

.itemsContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    
    color: white;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.line{
    width: 40px;
    height: 2px;
    background-color: rgb(139, 139, 139);
}